.bmc {
  margin: 12px 6px 0px 0px;
  padding: 12px 24px;
  width: 100%;
  border: 0;
  border-radius: 10px;
  background-color: #70c459;
  color: #ffffff;
  font-size: 1 rem;

  transition: all 0.25s;
}

.bmc:hover{
  background-color: rgba(157, 218, 140, 0.836);
  color: #747474;
  box-shadow: 10px 5px 5px rgba(128, 128, 128, 0.555);
}

.patreon {
  margin: 12px 6px 0px 0px;
  padding: 12px 24px;
  width: 100%;

  border: 0;
  border-radius: 10px;
  background-color: #fb952b;
  color: #ffffff;
  font-size: 1 rem;

  transition: all 0.25s;
}

.patreon:hover{
  background-color: rgba(251, 150, 43, 0.726);
  color: #747474;
  box-shadow: 10px 5px 5px rgba(128, 128, 128, 0.555);
}