$font-stack: Helvetica, sans-serif;
$primary-color: #333;

$green: #71c459;
$yellow: #fdc230;
$orange: #fb952b;
$red: #ea5151;
$purple: #a854a9;
$blue: #00aee4;
$black: #322f2f;
$light-gray: #e6e6e6;
$dark-gray: #636363;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "main main sidebar"
    "footer footer footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.sidebar{
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
}