.post-header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 16px;
  grid-template-areas:
    "image title"
    "image details"
    "button button"
}
.cover-image {
  width: 100%;
  grid-area: image;
}
.post-title {
  grid-area: title;
  align-self: start;
}
.post-details {
  grid-area: details;
  align-self: start;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.button-group{
  grid-area: button;
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 8px;
  border-radius: 4px;
  background-color: #a854a9;
  width: 30%;
  text-align: center;
  color: white;
  transition: all 0.25s;
}
.button:hover {
  padding: 8px;
  border-radius: 4px;
  background-color: #783c79;
  width: 30%;
  text-align: center;
  color: rgb(245, 245, 245);
}

h2{
  margin: 0;
}
article {
  padding-bottom: 48px;
  margin-bottom: 48px;
}

a {
  stroke: none;
}