.nav-link-list {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  align-items: baseline;
  gap: 20px;
  padding-left: 0;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}
.nav-link-item {
  width: 100%;
  height: 30px;
  padding: 5px;
  background-color: #00aee4;
  border: #322f2f 2px solid;
  border-radius: 10px 10px 0px 0px;

  display: flex;
  justify-content: center;
  align-items: center;


  text-decoration: none;

  transition: background-color 0.25s, padding 0.25s;
}

.nav-link-item:hover {
  background-color: #fdc230;
  padding-top: 10px;
}
.active {
  background-color: #fdc230;
  padding-top: 10px;
}
.nav-link-text {
  color: #322f2f;
}