.container {
  margin: auto;
  max-width: 700px;
  font-family: sans-serif;
}
.heading {
  color: rebeccapurple;
}

.site-title {
  font-size: 3rem;
  color: #636363;
  font-weight: 700;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.image {
  max-width: 100%;
}